[submodule "external/nghttp2"]
	path = external/nghttp2
	url = https://github.com/nghttp2/nghttp2.git
[submodule "RegexMatcher"]
	path = external/RegexMatcher
	url = https://github.com/cpp-for-everything/RegexMatcher.git
	branch = main
[submodule "doxygen/doxygen-awesome-css"]
	path = doxygen/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
